<!DOCTYPE html>
<html ng-app="Fundbase">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="app/css/app.css"/>
  <title>Order good pizza</title>
</head>
<body>

  <div class="main-content">

    <div class="main-pizzas-list" ng-controller="PizzasController">
      <h3>Select Pizzas</h3>

        <div class="pizza" ng-repeat="pizza in pizzas">
            <fb-pizza href="" ng-click="addToOrder(pizza)">{{pizza.name}} || {{pizza.price | currency:"USD$"}}</fb-pizza>
        </div>

    </div>

      <div class="order" ng-controller="OrderController">
        <h3>Your Order</h3>
        <div ng-hide="confirm" class="item" ng-repeat="item in items">
          {{item.name}}
        </div>

        <fb-order ng-show="items.length > 0" ng-click="submitOrder()"><button>Order</button></fb-order>

        <div class="order" ng-show="confirm">
          Your order will be delivered in {{orderTime}} minutes!
        </div>

      </div>

  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://code.angularjs.org/angular-1.0.0rc3.min.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
  <script type="text/javascript" src="app/js/app.js"></script>
  <script type="text/javascript" src="app/js/services.js"></script>
  <script type="text/javascript" src="app/js/controllers.js"></script>
  <script type="text/javascript" src="app/js/directives.js"></script>
</body>
</html>
